/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    src: url('./utils/fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Segoe';
    src: url('./utils/fonts/Segoe/Segoe\ UI.ttf');
}

